.meteo--list {
	display: flex;
}

.meteo--item {
	margin-right: 1rem;
}

.meteo--item.item-passed {
	background-color: red;
}

.meteo--item_status > i.fa-sun {
	color: orange;
}
.meteo--item_status > i.fa-cloud-rain {
	color: gray;
}
.meteo--item_status > i.fa-snowflake {
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.meteo--item_temperature.t-very-hot {
	color: red;
}
.meteo--item_temperature.t-hot {
	color: orange;
}
.meteo--item_temperature.t-cold {
	color: #007dff;
}
.meteo--item_temperature.t-very-cold {
	color: blue;
}

.meteo--item_temperature::after {
	content: "°C";
}

.meteo--item_temperature > i,
.meteo--item_humid > i {
	margin-right: 0.5em;
}
.meteo--item_humid.h-humid {
	color: blue;
}
.meteo--item_humid::after {
	content: "%";
}

#map {
	height: 70vh;
}
