.meteo--container {
	margin-top: -0.5rem;
}

.meteo--list {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-template-rows: repeat(4, 1fr);
}

.meteo--item {
	grid-column: 2;
	display: grid;
	grid-template-areas:
		"meteo-status meteo-time meteo-time"
		"meteo-status meteo-temp meteo-temp"
		"meteo-info meteo-humid meteo-humid";
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: #d4d4d4;
	border-radius: 5px;
}

.meteo--item:hover,
.meteo--item.item-passed {
	background-color: silver;
}

.meteo--item.item-passed {
	grid-column: 1;
	grid-row: 1;
	grid-row-end: span 4;
	font-size: 1.5rem;
	padding: 12rem 0.5rem;
}

.meteo--item_status {
	grid-area: meteo-status;
	min-width: 4rem;
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.meteo--item_status > i.fa-sun {
	color: orange;
}
.meteo--item_status > i.fa-cloud-rain {
	color: gray;
}
.meteo--item_status > i.fa-snowflake {
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.meteo--item_time {
	grid-area: meteo-time;
}

.meteo--item_temperature {
	grid-area: meteo-temp;
}

.meteo--item_temperature.t-very-hot {
	color: red;
}
.meteo--item_temperature.t-hot {
	color: orange;
}
.meteo--item_temperature.t-cold {
	color: #007dff;
}
.meteo--item_temperature.t-very-cold {
	color: blue;
}

.meteo--item_temperature::after {
	content: "°C";
}

.meteo--item_humid {
	grid-area: meteo-humid;
}

.meteo--item_temperature > i,
.meteo--item_humid > i {
	margin-right: 0.5em;
}
.meteo--item_humid.h-humid {
	color: blue;
}
.meteo--item_humid::after {
	content: "%";
}

.meteo--item_advice {
	grid-area: meteo-info;
	display: flex;
	align-items: center;
	justify-content: center;
}

.velos--container,
#map {
	height: 100%;
}
